.App {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
}

.slider {
  height: 220px;
  width: 220px;
}

.flex-container {
  flex-wrap: nowrap;
}

.flex {
  background-color: #98c9ec;
  padding: 15px;
  height: 90%;
  width:220px;
  margin: 10px;
  font-size: 22px;
  border-radius: 10px;
  float: left;
}

.flex > button{
  border: none;
}

.flex > img{
  width: 140px;
  height: 140px;
}

div.react-file-reader {
  background-color: red;
  display: inline-block;
  margin: 10px;
}
